<div class="cardd">
  <div class="cardd-title">
    {{ title }}
    <mat-icon
      class="help-icon"
      [matTooltip]="tooltip"
      matTooltipPosition="below"
      matTooltipClass="custom-tooltip"
    >
      help_outline
    </mat-icon>
  </div>

  <div class="value" [ngClass]="valueClass" 
  [class.stack-extra]="stackValueExtra"
  [style.color]="valueColor">

    @if (!isValueNA) {
      <ng-content select="[metric-prefix]"></ng-content>
    }

    {{ value }}
    @if (!isValueNA) {
      <ng-content select="[metric-postfix]"></ng-content>
    }
    @if (unit) {
      <span class="unit" [ngClass]="valueClass">{{ unit }}</span>
    }
    <ng-content select="[metric-value-extra]"></ng-content>

     
  </div>

   <div class="metric-subtext">
    <ng-content select="[metric-subtext]"></ng-content>
  </div>

  <div class="footer"   [class.no-footer-margin]="stackValueExtra">
    <ng-content select="[metric-footer]"></ng-content>
  </div>

 
   @if (showPoweredBy) {
  <div class="powered-by">
    Powered by ---
  </div>
}
</div>
