<nav class="breadcrumb-bar" aria-label="Breadcrumb">
  <button type="button" class="back-btn" (click)="goBack()" aria-label="Go to parent page">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" aria-hidden="true">
      <path d="M5.21802 7.33336H13.3327V8.6667H5.21802L8.79402 12.2427L7.85135 13.1854L2.66602 8.00003L7.85135 2.8147L8.79402 3.75736L5.21802 7.33336Z" fill="#0CA8FF"/>
    </svg>
    <span>Back</span>
  </button>

  <div class="path">
    @for (item of items; track item.link) {
      <a [routerLink]="item.link">{{ item.label }}</a>
      <span class="separator" aria-hidden="true">/</span>
    }
    <b aria-current="page">{{ currentLabel }}</b>
  </div>
</nav>
