  <div class="export-wrapper"  (document:click)="exportMenuOpen = false">
            <!-- Export Button -->
           <div
  class="export-action"
  (click)="toggleExportMenu($event)"
  (click)="$event.stopPropagation()"
  [class.open]="exportMenuOpen"
>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
              >
                <path
                  d="M2.66683 12.6667H13.3335V8H14.6668V13.3333C14.6668 13.5101 14.5966 13.6797 14.4716 13.8047C14.3465 13.9298 14.177 14 14.0002 14H2.00016C1.82335 14 1.65378 13.9298 1.52876 13.8047C1.40373 13.6797 1.3335 13.5101 1.3335 13.3333V8H2.66683V12.6667ZM8.66683 6V10.6667H7.3335V6H4.00016L8.00016 2L12.0002 6H8.66683Z"
                  fill="white"
                />
              </svg>
              <span>Export</span>
              <span class="chevron">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M3.5 5.75L8 10.25L12.5 5.75"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
            </div>

            <!-- Export Panel -->
           <div
  class="export-panel"
  [class.open]="exportMenuOpen"
  (click)="$event.stopPropagation()"
>
              <!-- <div
                class="export-option"
                [class.selected]="selectedFormat === 'CSV'"
                (click)="selectExport('CSV')"
              >
                <span>CSV</span>
              </div> -->
              <div
                class="export-option"
                [class.selected]="selectedFormat === 'PNG'"
                (click)="selectExport('PNG')"
              >
                <span>PNG</span>
              </div>
              <div
                class="export-option"
                [class.selected]="selectedFormat === 'PDF'"
               (click)="selectExport('PDF')"
              >
                <span>PDF</span>
              </div>
            </div>
          </div>
